{% extends 'dashboard.html' %}
{% block conteudo %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
              <h2 class="card-title">Sobre</h2>
            </div>
            <div class="card-body">
                <h4>Componentes:</h4>
                <p>Beatriz Vitória da Costa</p>
                <p>Diana Letice de Medeiros Brito</p>
                <p>Elaine Batista da Silva</p>
                <h4>Repositório no git:</h4>
                <a href="https://github.com/Diana16-d/cardapio.git">https://github.com/Diana16-d/cardapio.git</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}